extends layout

block content
    .container#edit
          #editPanel.row
             h3 Bienvenido a #{title}
             p Modificar evento
          form(role='form', method='POST' action='/update')
              .form-group
                input(type='hidden', name='idEvent', value='#{eventClick.idEvent}')
                label() Título
                input#title.form-control(type='text', name='titleForm', placeholder='Campo de texto', value="#{eventClick.title}")
              .form-group
                label() Subtítulo
                input#subtitle.form-control(type='text', name='subtitleForm', placeholder='Campo de texto', value="#{eventClick.subtitle}")
              .row
                  .form-group.col-sm-4
                    label() Url Imagen
                    input#url.form-control(type='text', name='urlForm', placeholder='http://imagen.jpg', value="#{eventClick.url}")
                  .form-group.col-sm-8
                    label() Fecha de inicio:
                    input#initDate.date(type='text', name='initDateForm', placeholder='DD/MM/YYYY', value="#{eventClick.initDate}")
                    label()#dateend Fecha final de evento:
                    input#endDate.date(type='text', name='endDateForm', placeholder='DD/MM/YYYY', value="#{eventClick.endDate}")
              .form-group.row#descript
                label() Explica en que consiste el evento
                textarea#description.form-control(rows='3', name='descriptionForm') #{eventClick.description}
              .form-group
                .checkbox
                    label
                        if eventClick.isActive
                            input#isActive(type='checkbox', name='isActiveForm', checked)
                            |  Activar evento
                        else
                            input#isActive(type='checkbox', name='isActiveForm')
                            |  Activar evento
              input#add-edit.btn.btn-info.col-sm-2(type='submit', value="Guardar")
            form(role='form', method='POST' action='/')
              input#add-init.btn.btn-info.col-sm-2(type='submit', value="Inicio")
