extends layout

block content
    .container#show
        .row
            .col-sm-6
              #showPanel.row
                 h3 #{title}
                  .form-group
                    h1 #{eventClick.title}
                  .form-group
                    h3 #{eventClick.subtitle}
                  .form-group
                    label() Del: #{eventClick.initDate} Al: #{eventClick.endDate}
                  .form-group
                    img#imageView(src='#{eventClick.url}')
                  .form-group
                    .checkbox
                        label
                            if eventClick.isActive
                                input#isActive(type='checkbox', name='isActiveForm', disabled='true', checked)
                                |  Activar evento
                            else
                                input#isActive(type='checkbox', name='isActiveForm', disabled='true')
                                |  Activar evento
                if msg == "No estas inscrito en este evento"
                    form(role='form', method='POST' action='/signme')
                        input(type='hidden', name='idEvent', value='#{eventClick.idEvent}')
                        input#add-init.btn.btn-info(type='submit', value="Inscribirse")
                else
                    form(role='form', method='POST' action='/unsignme')
                        input(type='hidden', name='idEvent', value='#{eventClick.idEvent}')
                        input#add-init.btn.btn-info(type='submit', value="Desinscribirse")

                form(role='form', method='POST' action='/')
                    input#add-init.btn.btn-info(type='submit', value="Cancelar")
                if accessUser.isAdmin == "true"
                  form(role='form', method='POST' action='/edit')
                    input(type='hidden', name='idEvent', value='#{eventClick.idEvent}')
                    input#add-edit.btn.btn-info(type='submit', value="Editar")
                  form(role='form', method='POST' action='/delete')
                    input(type='hidden', name='idEvent', value='#{eventClick.idEvent}')
                    input#add-delete.btn.btn-info(type='submit', value="Eliminar")
                    .row
                        h3 Lista de usuarios para notificar
                        form(role='form', method='POST' action='/sendmail')
                            input#add-send.btn.btn-info(type='submit', value="Enviar Mail")
                        .input-group
                            span.input-group-addon Filtrar
                            input#filter.form-control(type='text', placeholder='Buscar...')
                        table.table.table-hover
                            thead
                              tr
                                th Nombre
                                th Correo
                                th Enviar
                            tbody.searchable
                                each user in users
                                    tr
                                        td #{user.name}
                                        td #{user.email}
                                        td
                                            input(type='checkbox', checked, name='isSend', value='#{user.email}')
                else
            .col-sm-6
                form(role='form', method='POST' action='/logout')
                        button#add-logout.btn.btn-info.col-sm-2(type='submit')
                            i.fa.fa-sign-out
                .form-group.row#descript
                    h3 #{eventClick.description}
            .col-sm-6
                .form-group.row#descript
                    label(style="color: green;") #{msg}
                    h3 Lista de usuarios inscritos
                    .input-group
                        span.input-group-addon Filtrar
                        input#filter.form-control(type='text', placeholder='Buscar...')
                    table.table.table-hover
                        thead
                          tr
                            th Usuario
                            th Correo
                        tbody.searchable
                            each userSign in listaUserSign
                              tr
                                td #{userSign.name}
                                td #{userSign.email}
